.banner-principal {
  background: linear-gradient(rgba(94,23,185, 0.5), #f0f0f0);
}

.carrossel-banner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 150px;
}

.banner-img {
  height: 150px;
}

.banner-icone {
  height: 50px;
}

.menu-banner {
  display: flex;
  justify-content: center;
}

.menu-banner div {
  display: flex;
  flex-direction: column;
  background-color: white;
  align-items: center;
}

.menu-banner img {
  height: 100px;
  width: 100px;
}

.item-menu-banner {
  height: 250px;
  width: 200px;
  margin-right: 30px;
}

.item-menu-banner spam {
  padding: 10px 20px 0 20px;
  text-align: center;
}

.menu-banner div {
  display: flex;
  flex-direction: column;
  background-color: white;
  align-items: center;
  position: relative;
  transition: 1s;
}

.frete-gratis-img {
  height: 85px !important;
}

.item-menu-banner:hover {
  transform: scale(1.2);
}

.recomendados {
  margin: 50px;
}

.produtos-recomendados {
  display: grid;
  grid-template-columns: repeat(5, auto);
  grid-template-rows: repeat(2, auto);
  gap: 16px;
}

.recomendados-img {
  width: 200px;
  height: 200px;
}

.avaliacao {
  display: flex;
}

.produto-recomendado {
  background-color: #FFFFFF;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.produto-recomendado .descricao {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  line-clamp: 2;
  overflow: hidden;
  text-overflow: ellipsis;
  height: 40px;
}

.produto-recomendado p {
  margin: 10px 5px 5px 5px;
}


.categorias {
  margin-bottom: 30px;
}

.categorias-carrossel-container {
  display: flex;
  align-items: center;
}


.categorias-carrossel {
  display: flex;
  overflow: hidden;
  scroll-behavior: smooth;
}

.categorias-carrossel h2 {
  text-align: center;
}

.categorias-carrossel img {
  width: 200px;
  height: 200px;
}

.botao-voltar {
  width: 100px;
  height: 100px;
}

.botao-avancar {
  width: 100px;
  height: 100px;
}

.categorias-titulo {
  margin-left: 50px;
}

.continue-comprando {
  margin-bottom: 50px;
}

.continue-comprando-container {
  display: flex;
  align-items: center;
}

.continue-comprando-carrossel {
  display: flex;
  overflow: hidden;
  scroll-behavior: smooth;
  gap: 16px;
}

.continue-comprando-img {
  width: 200px;
  height: 200px;
}

.eletrodomesticos {
  margin-bottom: 50px;
}

.eletrodomesticos-container {
  display: flex;
  align-items: center;
}

.eletrodomesticos-carrossel {
  display: flex;
  overflow: hidden;
  scroll-behavior: smooth;
  gap: 16px;
}

.eletrodomesticos-img {
  width: 200px;
  height: 200px;
}

.moda {
  margin-bottom: 50px;
}

.moda-container {
  display: flex;
  align-items: center;
}

.moda-carrossel {
  display: flex;
  overflow: hidden;
  scroll-behavior: smooth;
  gap: 16px;
}

.moda-img {
  width: 200px;
  height: 200px;
}

.categorias-titulo {
  margin-left: 50px;
}

