.main-container {
  background-color: white;
  margin: 25px;
}

.produto {
  display: flex;
}

.produto-container {
  display: flex;
}

#imagem-principal-produto {
  width: 400px;
  height: 350px;
}

.imagens-produto-carrossel {
  width: 50px;
  height: 50px;
  display: flex;
}

.imagens-produto-carrossel-itens {
  display: flex;
}

.imagens-produto-carrossel-itens img {
  width: 50px;
  height: 50px;
}

.comprar-agora {
  background-color: rgba(94, 23, 185, 0.9);
  color: #FFFFFF;
  cursor: pointer;
  height: 40px;
  padding: 15px;
  width: 250px;
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  justify-self: center;
}

.adicionar-carrinho {
  background-color: rgba(94, 23, 185, 0.4);
  color: #000000;
  cursor: pointer;
  height: 40px;
  padding: 15px;
  width: 250px;
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  justify-self: center;
}


.avaliacao-produto {
  display: flex;
  align-items: center;
}

.avaliacao-produto img {
  width: 15px;
  height: 20px;
}

.avaliacao-produto-estrelas {
  margin-right: 6px;
  margin-left: 6px;
}

.valor {
  display: flex;
}

.valor p {
  padding-top: 9px;
  padding-left: 2px;
  font-size: small;
}

.parcelamento {
  display: flex;
}

.parcelas-disponiveis {
  color: #5E17B9;
  padding-left: 5px;
}

.atributos-produto {
  display: flex;
}

.descricao-produto {
  padding-left: 25px;
}

.descricao-atributos-produto {
  font-weight: bold;
}

.cor-produto {
  padding-left: 5px;
}


.produto-compra {
  border: solid 1px;
  padding: 15px;
  width: 400px;
  border-radius: 5px;
  margin: 25px 20px;
  position: relative;
  right: -1%;
}

.produto-compra p {
  margin: 5px 0px;
}

.preco-style {
  display: flex;
}

.preco-style h2 {
  margin: 0px;
  padding: 0px 2.5px;
}

.preco-style p {
  font-size: small;
}

.preco-entrega {
  color: #138800;
}

.negrito {
  font-weight: bold;
  padding-left: 5px;
}

.selecionar-cor {
  display: flex;
}

.ilustracao-cor-produto {
  width: 25px;
  height: 25px;
}

.estoque-disponivel {
  color: #138800;
}

.selecionar-quantidade {
  display: flex;
  background-color: #ECECEC;
}

.data-entrega {
  display: flex;
}

.prazo-promocao{
  display: flex;
}

.produtos-loja-container {
  display: flex;
  align-items: center;
}

.produtos-loja-carrossel {
  display: flex;
  overflow: hidden;
  scroll-behavior: smooth;
  gap: 16px;
}

.produtos-recomendados {
  display: grid;
  grid-template-columns: repeat(5, auto);
  grid-template-rows: repeat(2, auto);
  gap: 16px;
}

.recomendados-img {
  width: 200px;
  height: 200px;
}

.avaliacao {
  display: flex;
}

.produtos-loja {
  margin: 70px 0 70px 0;
}

.prodtuos-loja-titulo {
  padding-left: 50px;
}

.produto-recomendado {
  background-color: #FFFFFF;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  margin: 5px;
}

.produto-recomendado .descricao {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  line-clamp: 2;
  overflow: hidden;
  text-overflow: ellipsis;
  height: 40px;
}

.produto-recomendado p {
  margin: 10px 5px 5px 5px;
}

.qtd-avaliacoes-container {
  display: flex;
}

.qtd-avaliacoes {
  padding-right: 5px;
}

.comentarios-container {
  margin-left: 50px;
  padding: 40px;
}

.nota-avaliacao-container {
  margin-right: 50px;
}

.nota-avaliacao {
  display: flex;
  align-items: center;
}

.nota-avaliacao h2 {
  margin-right: 20px;
}

.avaliacoes-produto {
  display: flex;
  margin-bottom: 100px;
}

.avaliacoes-imagens-container h2 {
  margin-left: 35px;
}

.avaliacoes-imagens img {
  width: 80px;
  height: 90px;
}

.seta-avaliacao-imagens {
  width: 35px;
  height: 35px;
}

.avaliacoes-imagens-carrossel {
  display: flex;
  align-items: center;
  margin-right: 10px;
}

.avaliacoes-imagens-carrossel img {
  margin-right: 10px;
}

.avaliacoes-destaque {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.usuario {
  display: flex;
}

.nome-usuario {
  margin-left: 15px;
}

.data-avaliacao {
  margin-top: 0px;
}

.comentario {
  margin-left: 20px;
  margin-bottom: 50px;
}