.produto {
  display: flex;
}

.produto-container {
  background-color: white;
  display: flex;
  margin: 25px;
}


#imagem-principal-produto {
  width: 400px;
  height: 350px;
}

.imagens-produto-carrossel {
  width: 50px;
  height: 50px;
  display: flex;
}


.avaliacao-produto {
  display: flex;
  align-items: center;
}

.avaliacao-produto img {
  width: 15px;
  height: 20px;
}

.avaliacao-produto-estrelas {
  margin-right: 6px;
  margin-left: 6px;
}

.valor {
  display: flex;
}

.valor p {
  padding-top: 9px;
  padding-left: 2px;
  font-size: small;
}

.parcelamento {
  display: flex;
}

.parcelas-disponiveis {
  color: #5E17B9;
  padding-left: 8px;
}

.atributos-produto {
  display: flex;
}

.descricao-atributos-produto {
  font-weight: bold;
}


.produto-compra {
  border: solid 1px;
  padding: 15px;
  width: 500px;
  border-radius: 5px;
  margin: 25px 20px;
}

.produto-compra p {
  margin: 5px 0px;
}

.preco {
  display: flex;
}

.preco h2 {
  margin: 0px;
  padding: 0px 2.5px;
}

.preco p {
  font-size: small;
}

.preco-entrega {
  color: #138800;
}

.negrito {
  font-weight: bold;
}

.selecionar-cor {
  display: flex;
}

.ilustracao-cor-produto {
  width: 25px;
  height: 25px;
}

.estoque-disponivel {
  color: #138800;
}

.selecionar-quantidade {
  display: flex;
  background-color: #ECECEC;
}

.data-entrega {
  display: flex;
}

.prazo-promocao{
  display: flex;
}

