body {
  background-color: #f0f0f0;
  padding: 0px;
  margin: 0px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header {
  display: flex;
  background-color: #5E17B9;
  align-items: center;
  justify-content: space-between;
  padding: 0px 50px;
}

.logo {
  color: #ffffff;
  cursor: pointer;
}

.localizacao {
  display: flex;
  border-style: solid;
  border-color: #E96012;
  line-height: 1px;
  align-items: center;
  border-radius: 50px;
  padding: 0 25px;
}

.localizacao p {
  color: #FFFFFF;
  font-size: x-small;

}

#icone-localizacao {
  height: 24px;
  width: 24px;
}

.barra-pesquisa {
  display: flex;
  align-items: center;
}

.barra-pesquisa input {
  border-radius: 20px;
  width: 500px;
  height: 30px;
  border-style: none;
}

.icone-pesquisa-container {
  position: relative;
  background-color: #740090;
  right: 35px;
  border-radius: 50px;
  width: 25px;
  height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.icone-pesquisa {
  background-color: transparent;
}

.barra-pesquisa img {
  cursor: pointer;
}

.menu-usuario img {
  height: 28px;
  width: 28px;
  cursor: pointer;
  padding-right: 20px;
}

.menu-principal {
  display: flex;
  background-color: #ff7300;
  align-items: center;
  justify-content: center;
  height: 30px;
}

.menu-principal a{
  color: #ffffff;
  font-size: 20px;
  font-weight: 100;
  margin: 5px 30px;
  transition: a ,55s ease;
}

.frete-gratis {
  color: green;
  margin-bottom: 5px;
  display: inline-block;
}


footer {
  background-color: #740090;
  color: white;
  padding: 10px 10px 60px 10px;
}

.logo-rodape {
  text-align: center;
}

.conteudo-rodape {
  display: flex;
  justify-content: space-evenly;
}


.sobre-nos img {
  width: 130px;
  height: 90px;
}

.sobre-nos h1 {
  text-align: center;
}

.minha-conta {
  text-align: center;
}

.equipe {
  text-align: center;
}

a {
  text-decoration: none;
  color: inherit;
}