body {
  background-color: #f0f0f0;
  padding: 0px;
  margin: 0px;
}

header {
  display: flex;
  background-color: #5E17B9;
  align-items: center;
  justify-content: space-evenly;
}

.logo {
  color: #ffffff;
}

.localizacao {
  display: flex;
  border-style: solid;
  border-color: #E96012;
  height: 20px;
  font-size: 6px;
  line-height: 1px;
}

.localizacao p {
  color: #FFFFFF;

}

#icone-localizacao {
  height: 12px;
  width: 12px;
}

.barra-pesquisa {
  display: flex;
}

.barra-pesquisa input {
  border-radius: 20px;
}

.icone-pesquisa {
  background-color: transparent;
}

.barra-pesquisa img {
  cursor: pointer;
}


.menu-usuario img {
  height: 12px;
  width: 12px;
  cursor: pointer;
}

.menu-principal {
  display: flex;
  background-color: #ff7300;
  align-items: center;
  justify-content: space-evenly;
  height: 30px;
}

.menu-principal a{
  color: #ffffff;
  font-size: 20px;
  font-weight: 100;
  margin: 5px 30px;
  transition: a ,55s ease;
}




footer {
  background-color: #740090;
  color: white;
  padding: 10px 10px 60px 10px;
}

.logo {
  text-align: center;
  padding-left: 205px;
}

.conteudo-rodape {
  display: flex;
  justify-content: space-evenly;
}


.sobre-nos img {
  width: 190px;
  height: 90px;
}

.sobre-nos h1 {
  text-align: center;
}

.minha-conta {
  text-align: center;
}

.equipe {
  text-align: center;
}